@font-face{
    font-family:'Neon';
    src: url(./NeonSans.ttf);
}
@font-face{
    font-family: 'Square';
    src: url(./Square.ttf);
}
body{
    background-image: url(./images/Easy-Mazes.png);
    background-position: center;
    background-size: contain;
}
.nav{
    text-decoration: none;
    font-family: 'Neon';
    color: black;
}
.nav:hover{
    text-decoration:underline;
    color:aqua;
}
#djLogo{
    width: 190px;
    height: 90px;
}
h1{
    font-family: 'Neon';
}
#aboutMe{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: lightgray;
    border-radius: 2%;
    opacity: 92%;

}
#aboutMe p{
    opacity: 70%;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#aboutMe img{
    float: right;
    padding-right: 20%;
}
#portfolioLink{
    padding-top: 20px;
    margin-top: 50px;
    text-align:justify;
    background-color: lightgray;
    border-radius: 2%;
    opacity: 92%;
}
#portfolioLink a{
    color: black;
    text-decoration: none;
    font-family:'Square';
    color: lightgray;
    font-size: 20px;
}
#portfolioLink a:hover{
    color: aqua;
}
#portfolioLink h1{
    text-align: left;
}
#site-1{
    margin:5px;
    border:solid 3px white;
    border-radius: 1%;
    background-color: grey;
}
#site-2{
    margin:5px;
    border:solid 3px white;
    border-radius: 1%;
    background-color: grey;
}
#site-3{
    margin:5px;
    border:solid 3px white;
    border-radius: 1%;
    background-color: grey;
}
#site-4{
    margin:5px;
    border:solid 3px white;
    border-radius: 1%;
    background-color: grey;
}
#site-5{
    margin:5px;
    border:solid 3px white;
    border-radius: 1%;
    background-color: grey;
}
#site-1-img{
    opacity: 70%;
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#site-2-img{
    opacity: 70%;
    width: 100%;
    height: 200px;
    object-fit: contain;
}
#site-3-img{
    opacity: 70%;
    width: 100%;
    height: 200px;
    object-fit: contain;
}
#site-4-img{
    opacity: 70%;
    width: 100%;
    height: 200px;
    object-fit: contain;
}
#site-5-img{
    opacity: 70%;
    width: 100%;
    height: 200px;
    object-fit: contain;
}

#socialLink{
    padding-top: 20px;
    margin-top: 50px;
    text-align:justify;
    background-color: lightgray;
    border-radius: 2%;
    opacity: 92%;
    text-align: center;
}

#octo-link{
    width: 50px;
    height: 50px;
}
#instaG{
    width: 50px;
    height: 50px;
}
#faceB{
    width: 70px;
    height: 50px;
}
#linkdin{
    width: 30%;
    height: 50px;
}